<h2>Your Favorite Gifs</h2>

<% @favorites.each do |favorite| %>
  <div id="f-gif-<%=favorite.gif.id%>%">
    <p><%= favorite.gif.category.title %></p>
    <p><%= favorite.gif.gif_url %></p>
  </div>
<% end %>
