<h2>All Gifs</h2>

<% @categories.each do |category| %>
  <h4><%= category.title %></h4>
  <% category.gifs.each do |gif| %>
    <p id="gif_#{gif.id}">
      <%= gif.gif_url %>
      <%= render partial: 'checkbox' %>
    </p>
  <% end %>
<% end %>
