<% if current_user %>
  <h2 class='heading'>Welcome <%= current_user.name %>!</h2>
  <br>
  <h4 class='centered'>Click on the links below to see what other user's favorited.<h4>
  <br>
  <% @users.each do |user| %>
    <p class='centered'>Check out <%= link_to "#{user.name}'s page", user_favorites_path(user) %></p>
  <% end %>
<% else %>
  <h2 class='heading'>Create an account to see your own home page</h2>
<% end %>
