<h2 class='heading'>Welcome to Gif Generator!</h2>

<main class='heading'>
  <%= link_to "Create Account", new_user_path %>
</main>
<section class='dash-gif'>
  <img src='http://www.lovethispic.com/uploaded_images/65727-Gif-Pencil-Drawing.gif?1' height=500px >
</section>
