<h2 class='heading'>Welcome to Gif Generator!</h2>

<main class='heading'>
  <%= link_to "Create Account", new_user_path %>
</main>
<section class='dash-gif'>
  <%= image_tag('machine_anim.gif', size: 450) %>
</section>
